* {
	box-sizing: border-box;
}

body {
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	padding: 1rem.5rem;
	margin: 0 auto;
	color: #2e2200;
}

#nav {
	padding: 1rem .5rem;
	margin: 0 auto;
	color: #333333;
	text-align: center;
	border-bottom: 8px double #f9f9f9;
	margin-bottom: 2rem;
}


.Header {
	text-align: center;
	border-bottom: 8px double #f9f9f9;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.image {
	max-width: 100%;
	position: relative;
	border: 6px solid #2e2200;
	border-radius: 4px;
}

li {
	display: inline;
}


@media screen and (min-width: 50rem) {
	body {
		border-left: 4px solid #f9f9f9;
		border-right: 4px solid #f9f9f9;
		padding: 1rem 2rem;
	}

	.Header {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	div p {
		display: table-cell;
		width: 50%;
		vertical-align: bottom;
		font-size: 14px;
		font-family: impact, sans-serif;
		text-align: right;
	}

	div h2 {
		display: table-cell;
		font-size: 24px;
		font-family: arial black, sans-serif;
		width: 50%;
		vertical-align: middle;
	}

	#images {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	
	.image {
		display: table-cell;
		vertical-align: middle;
	}

}

