* {
	box-sizing: border-box;
}

body {
	padding: 1rem .5rem;
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	margin: 0 auto;
	color: #333333;
}

#nav {
	padding: 1rem .5rem;
	margin: 0 auto;
	color: #333333;
	text-align: center;
	border-bottom: 8px double #f9f9f9;
	margin-bottom: 2rem;
}

#content {
	overflow: auto;
	height: 100%;
}

#page {
	text-align: center;
	padding: 1rem .5rem;
	margin: 0 auto;
}

li {
	display: inline;
}


input {
	max-width: 100%;
	margin: 8px 8px auto;
	padding: 12px 12px 12px 12px;
	border: 1px solid #1f0b4a;
	font-size: 18px;
	font-family: courier, monospace;
	background-color: #bdc2c9;
	color: #284475;
}	

input:hover[type="submit"] {
	background-color: #dcecf7;
}

input:active[type="submit"] {
	background-color: #fcfcf7;
}

@media screen and (min-width: 50rem) {
	body {
		border-left: 4px solid #f9f9f9;
		border-right: 4px solid #f9f9f9;
		padding: 1rem 2rem;
	}

}

