* {
	box-sizing: border-box;
}

body {
	padding: 1rem .5rem;
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	margin: 0 auto;
	color: #333333;
}

#nav {
	padding: 1rem .5rem;
	margin: 0 auto;
	color: #333333;
	text-align: center;
	border-bottom: 8px double #f9f9f9;
	margin-bottom: 2rem;
}

#content {
	overflow: auto;
	height: 100%;
}

#page {
	text-align: center;
	padding: 1rem .5rem;
	margin: 0 auto;
}

#text {
	font-size: 1.8rem;
}

li {
	display: inline;
	margin-right: 20px;
}

a {
	text-decoration: none;
}

input {
	max-width: 100%;
	margin: 8px 8px 8px 8px;
	padding: 8px 8px 8px 8px;
	border: 1px solid #1f0b4a;
	border-radius: 3px;
	font-size: 1.8rem;
	font-weight: bold;
	font-family: courier, monospace;
	background-color: #bdc2c9;
	color: #284475;
}	

input:hover[type="submit"] {
	background-color: #dcecf7;
	transition: 0.7s;
}

input:active[type="submit"] {
	background-color: #fcfcf7;
	transition: 0.1s;
}

@media screen and (min-width: 15rem) {
	body {
		border-left: 4px solid #f9f9f9;
		border-right: 4px solid #f9f9f9;
		padding: 1rem 2rem;
	}

}

