<!doctype html>
<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>My Moving Arch</title>
		{% endif %}
		<meta name="viewport" content="width=device-width">
		<link rel='stylesheet' href='{{ url_for("static", filename="styles/index.css") }}'>
	</head>
	<body>
		<div id='opening'>
			<div id='nav'>
				<ul>
					<li id="text"><a href='{{ url_for("main.index") }}'>Home</a></li>
					<li id="text"><a href='{{ url_for("main.visual_art") }}'>Visual Art</a></li>
				</ul>
			</div>
		</div>
		{% block content %}
			<div id='content'>
				<div id='slideshow'>
				</div>
				<div class='featuredgallery1'>
					<p id="text" class="gallery"><a href='https://lumpofice.pythonanywhere.com/'>Math Website</a></p>
				</div>
				<div class='featuredgallery2'>
					<p id="text" class="gallery"><a href='https://hiimjp.my.canva.site'>Study Habits</a></p>
				</div>
				<div class='featuredgallery3'>
					<p id="text" class="gallery"><a href='{{ url_for("main.sweet_tooth") }}'>Sweet Tooth</a></p>
				</div>
			</div>
		{% endblock %}
	</body>
</html>
