<!doctype html>
<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>My Moving Arch</title>
		{% endif %}
		<meta name="viewport" content="width=device-width">
		<link rel='stylesheet' href='{{ url_for("static", filename="styles/index.css") }}'>
	</head>
	<body>
		<div id='opening'>
			<div id='nav'>
				<ul>
					<li><a href='{{ url_for("main.index") }}'>Home</a></li>
					<li><a href='{{ url_for("main.visual_art") }}'>Visual Art</a></li>
				</ul>
			</div>
		</div>
		{% block content %}
			<div id='content'>
				<div id='slideshow'>
				</div>
				<div class='featuredgallery1'>
					<p><a href='{{ url_for("main.robots_grow_out_of_keyboards") }}'>Robots</a></p>
				</div>
				<div class='featuredgallery2'>
					<p><a href='{{ url_for("main.land_of_milk_and_honey") }}'>Land of Milk and Honey</a></p>
				</div>
				<div class='featuredgallery3'>
					<p><a href=""></a></p>
				</div>
			</div>
		{% endblock %}
	</body>
</html>
