<!doctype html>
<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>My Moving Arch</title>
		{% endif %}
		<meta name="viewport" content="width=device-width">
		<link rel='stylesheet' href='{{ url_for("static", filename="styles/metric_topology.css") }}'>
		<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		<script type="text/javascript" src='{{ url_for("static", filename="js/metric_topology.js") }}' defer></script>
	</head>
	<body>
		<div id='opening'>
			<div id='nav'>
				<ul>
					<li><a href='{{ url_for("main.index") }}'>Home</a></li>
					<li><a href='{{ url_for("main.visual") }}'>Visual</a></li>
				</ul>
			</div>
		</div>
		{% block content %}
			<div id='content'>
				<div id='lesson'>
					<h1>Metric Topology</h1>	
				</div>
				<div id='topic'>	
					<p>Some companies sell their butter products by the box. Whether it be a box of 4 4oz-packages of butter, or a box of 8 2oz-packages of butter, the company sells that butter in the same size box. Conceivably, the company could sell that box as 1 16oz-package of butter or 16 1oz-packages of butter. In any event, that box represents the "space" in which 100% of the purchased butter, which has been broken down to a number of pre-sized packages, resides. A concept in mathemtics, consisting of breaking down 100% of a material contained within a given space to a number of arbitrarily pre-sized packages, is what we aim to tackle below.</p>
				</div>
				<div id='topic'>	
					<h3>Topology</h3>
				</div>
				<div id='topic'>	
					<h3>Basis for a Topology</h3>
				</div>
				<div id='topic'>	
					<h3>Metric</h3>
				</div>
				<div id='math0'>
				</div>
				<div id='math1'>
				</div>
				<div id='math2'>
				</div>
				<div id='ball0'>
				</div>
				<div class='featuredgallery0'>
					<p class="gallery">Radius 18</p>
				</div>
				<div class='featuredgallery1'>
					<p class="gallery">Radius 15</p>
				</div>
				<div class='featuredgallery2'>
					<p class="gallery">Radius 10</p>
				</div>
				<div class='featuredgallery3'>
					<p class="gallery">Radius 5</p>
				</div>
			</div>
		{% endblock %}
	</body>
</html>

