<!doctype html>
<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>My Moving Arch</title>
		{% endif %}
		<meta name="viewport" content="width=device-width">
		<link rel='stylesheet' href='{{ url_for("static", filename="styles/robots_grow_out_of_keyboards.css") }}'>
	</head>
	<body>
		<div>
			<a href='{{ url_for("main.index") }}'>Home</a>
			<a href='{{ url_for("main.visual_art") }}'>Visual Art</a>
		</div>
		<hr>

		{% block content %}
			<div class="Header">
				<h2>Robots Grow Out of Keyboards</h2>
				<p><em>All with <a href='https://www.bing.com/create'>Bing Image Creator</a></em></p>
			</div>
			<div class="Zeroth">
				<img class="ZerothImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_00.jpeg") }}' align='middle'/>
			</div>
			<div class="First">
				<img class="FirstImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_01.jpeg") }}' align='middle'/>
			</div>
			<div class="Second">
				<img class="SecondImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_02.jpeg") }}' align='middle'/>
			</div>
			<div class="Third">
				<img class="ThirdImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_03.jpeg") }}' align='middle'/>
			</div>
			<div class="Fourth">
				<img class="FourthImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_04.jpeg") }}' align='middle'/>
			</div>
			<div class="Fifth">
				<img class="FifthImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_05.jpeg") }}' align='middle'/>
			</div>
			<div class="Sixth">
				<img class="SixthImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_06.jpeg") }}' align='middle'/>
			</div>
			<div class="Seventh">
				<img class="SeventhImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_07.jpeg") }}' align='middle'/>
			</div>
			<div class="Eighth">
				<img class="EighthImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_08.jpeg") }}' align='middle'/>
			</div>
			<div class="Ninth">
				<img class="NinthImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_09.jpeg") }}' align='middle'/>
			</div>
			<div class="Tenth">
				<img class="TenthImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_10.jpeg") }}' align='middle'/>
			</div>
			<div class="Eleventh">
				<img class="EleventhImg" src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_11.jpeg") }}' align='middle'/>
			</div>
		{% endblock %}
	</body>
</html>
