{% extends 'base.html' %}

{% block content %}
	<h1>Robots Grow Out of Keyboards</h1>
	<link rel='stylesheet' href='{{ url_for("static", filename="styles/robots_grow_out_of_keyboards.css") }}'>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_00.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_01.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_02.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_03.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_04.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_05.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_06.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_07.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_08.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_09.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_10.jpeg") }}' align='middle'/>
	<img src='{{ url_for("static", filename="images/robots_grow_out_of_keyboards/robots_grow_out_of_keyboards_11.jpeg") }}' align='middle'/>
{% endblock %}
