<!doctype html>
<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>My Moving Arch</title>
		{% endif %}
		<meta name="viewport" content="width=device-width">
		<link rel='stylesheet' href='{{ url_for("static", filename="styles/visual.css") }}'>
	</head>
	<body>
		<div id='opening'>
			<div id='nav'>
				<ul>
					<li><a href='{{ url_for("main.index") }}'>Home</a></li>
					<li><a href='{{ url_for("main.visual") }}'>Visual</a></li>
				</ul>
			</div>
		</div>
		{% block content %}
			<div id='content'>
				<div id='page'>
					<p>Visual Gallery</p>
				</div>
				<div class='galleries'>
					<form action='' method='post'>
						<input type='submit' name='submit_button' value='Robots'><br>
						<input type='submit' name='submit_button' value='Milk and Honey'><br>
						<input type='submit' name='submit_button' value='Sweet Tooth'><br>
					</form>
				</div>
			</div>
		{% endblock %}
	</body>
</html>
